/*.gallery-container {
	width: 90%;
	margin: 0 auto;
}
*/
.gallery-item {
	box-sizing: border-box;
	width: 25%;
	padding: 5px;
	float: left;
}

.gallery-item img {
	width: 100%;
	float: left;
}

.gallery-item ul {
	float: left;
	clear: both;
	list-style-type: none;
	padding: 5px;
	margin: 2px 0;
}

.gallery-item li {
	margin: 0;
}